.main {
    position: relative;
    margin-top: 2rem;
}

.controls_wrap {
    border: 2px solid red;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 5;
    background: slategray;
    height: fit-content;
    width: fit-content;
}

.edit_wrap {

}