.main {
    position: relative;
    margin-top: 4rem;
    padding: 0 2rem;
    display: flex;
    flex-direction: row;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: last baseline;
}

