.edit-controls {
    margin-top: 2rem;
    display: flex;
    justify-content:space-between;
    border: 1px solid white;
}

.btn {
    cursor: pointer;
    padding: 0.2rem 1rem;
    border: 1px solid white;
}

option {
    color: black;
}