
.edit_controls {
  border: 1px solid #fff;
  justify-content: space-between;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.btn {
    cursor: pointer;
    padding: 0.2rem 1rem;
    border: 1px solid white;
}

.controls_wrap > input {
    height: 1rem;
    width: 1rem;
}

.option {
    color: rgb(255, 255, 255);
}
