.btn {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.8rem;
    border: 1px solid black;
    background: white;
    cursor: pointer;
    z-index: 3;
}

.btn svg {
    width: 1.25rem; 
    height: 1.25rem;
}

.btn:not(.rounded)::before {
    content: '';
    position: absolute;
    height: 2.5rem;
    width: 2.5rem;
    background: linear-gradient(45deg, rgb(236, 236, 236), rgb(190, 245, 146));
    z-index: -1;
    opacity: 0;
    transform: scale(0.1);
    transition-duration: 0.7s;
}

.btn:hover::before {
    opacity: 1;
    transform: scale(1);
}

.btn.rounded {
    border: 1px solid #000;
    border-radius: 1rem;
    padding: .2rem 0.5rem;
    font-size: 0.8rem;
    text-transform: uppercase;
}

.btn.rounded:hover {
    color: white;
    background-color: rgb(61, 61, 61);
}


.btn.close > svg {
    fill: none;
}