.modal{
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.modal-wrap {
  position: relative;
  max-width: 90vw;
  max-height: 90vh;
  background: white;
  padding: 2rem;
  border-radius: 8px;
  /**/

}

.scroll-wrap {
    height: 75vh;
    width: 100%;
    overflow: scroll;
}

.modal-figure {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: none;
    gap: 1rem;
}

.modal-figure:hover > img {
    transform: scale(1);
}

.caption {
    height: fit-content;
    width: 100%;
    font-size: 1rem;
    color: black;
    opacity: 1;
    max-width: 100rem;
    max-height: 10rem;
}

@media (max-width: 498px){
    .scroll-wrap {
        height: 50vh;
    }
}