header {
    position: fixed;
    top: 0;
    height: fit-content;
    padding: var(--padding-medium) var(--padding-medium);
    font-size: var(--header);
    width: 100%;
    z-index: 5;
    background-color: rgba(18, 17, 17, 0.7);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* .title {
    font-size: 4rem;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transition-duration: .7s;
}

.title.loaded {
    font-size: 2rem;
} */