header {
    position: fixed;
    top: 0;
    height: 1px;
    opacity: 0;
    padding: var(--padding-small) var(--padding-medium);
    font-size: 1.5rem;
    font-family: var(--font-montserrat);
    color: white;
    width: 100%;
    z-index: 5;
    background-color: rgba(75, 77, 71, 0.807);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition-duration: 0.7s;
}

header.loaded {
    opacity: 1;
    height: fit-content;
}

/* .title {
    font-size: 4rem;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transition-duration: .7s;
}

.title.loaded {
    font-size: 2rem;
} */

@media (max-width: 498px){
    header {
        font-size: 1rem;
    }
}