header {
    position: fixed;
    top: 0;
    height: fit-content;
    padding: 2rem 1rem;
    font-size: 2rem;
    width: 100%;
    z-index: 5;
    background: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title {
    font-size: 4rem;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transition-duration: .7s;
}

.title.loaded {
    font-size: 2rem;
}