.loading-wrap {
  position: relative;
  border: 1rem solid white;
  height: 50vh;
  background: white;
}

.loaded {
  height: 0;
}


.polyline {
  animation: draw 5s linear forwards;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}