.img-wrap {
    position: relative;
    transition-duration: 0.3s;
    display: inline-block;
    /**/
    /* transform: scale(0.7); */
    min-height: 50vh;
    min-width: 20%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.img-card {
    display: flex;
    align-items: center;
    flex-direction: column;
}

    /* filter: url('#noise'); */

.info-overlay {
    position: absolute;
    inset: 0;
    background: var(--info-card-bg);
    padding: 1rem;
    overflow: scroll;
}

.info-title {
    font-size:var(--title);
    color: rgb(251, 251, 251);
    font-weight: 900;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.info-wrap {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.info-wrap > p {
    font-style: italic;
}

figure {
    border: 12px solid white;

}

figure > img {
    width: 100%;
}

figcaption {
    max-height: 0;
    color: black;
    /* interpolate-size: allow-keywords; */
    opacity: 0;
    transition-duration: 0.7s;
}

figure:hover > figcaption {
    max-height: 100vh;
    opacity: 1;
    background-color: wheat;
}


figcaption:hover {
    background-color: white;
}

.img-menu {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-end;
}

.btn {
    position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem;
  border: 1px solid black;
  background: white;
  cursor: pointer;
  z-index: 3;
}

.btn::before {
    content: '';
    position: absolute;
    height: 2.5rem;
    width: 2.5rem;
    background: linear-gradient(45deg, rgb(236, 236, 236), rgb(174, 245, 174));
    z-index: -1;
    opacity: 0;
    transform: scale(0.1);
    transition-duration: 0.7s;
}

.btn:hover::before {
    opacity: 1;
    transform: scale(1);
}

.btn svg {
  width: 1rem;
  height: 1rem;
  display: block;
}

.save {
    fill: none;
    transition: fill 0.6s;
}

label:has(input[type="checkbox"]:checked) .save {
  fill: black;
}

input[type="checkbox"]{
    height: 0;
    width: 0;
    position: absolute;
}



@media (max-width: 490px) {
    .img-wrap {
        min-width: 50%;
    }
}