.img_wrap {
    position: relative;
    transition-duration: 0.3s;
    display: inline-block;
    min-height: 70vh;
    border: 1px solid black;
    padding: 1em 2em;
}

.img_card {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.filter_wrap {
    padding: 0 0 0.5rem 0;
    width: 100%;
    text-align: right;
}

.info_overlay {
    position: absolute;
    inset: 0;
    background: var(--info-card-bg);
    padding: 1rem;
    overflow: scroll;
    z-index: 5;
    animation: open 0.7s ease-in;
}

@keyframes open {
    0% {
        height: 0%;
        opacity: 0;
    }
    100% {
        height: 100%;
        opacity: 1;
    }
}

.info_overlay > .close_wrap {
    text-align: right;
}

.overlay_wrap > p {
    padding: 0.2rem 0;
    color: white;
}

.overlay_title {
    font-size: 2rem;
    color: white;
}

.info_title {
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0 0.5rem 0.2rem 0;
}

.info_wrap {
    display: flex;
    flex-direction: column;
}

.info_wrap p {
    font-style: italic;
    color: grey;
}


.figure {
    border: 1px solid;
    width: 100%;
    height: 15rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.figure > img {
    width: 100%;
    object-fit: contain;
    transition-duration: 0.7s;
}

figure:hover > img {
   transform: scale(1.1);
}

.figcaption {
    opacity: 0;
    max-height: 0;
    max-width: 0;
}

.img_menu {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    margin-top: 0.5rem;
}

.btn_wrap {
    display: flex;
  flex-direction: column;
}


.btn svg {
  width: 1rem;
  height: 1rem;
  display: block;
}

.save {
    fill: none;
    transition: fill 0.6s;
}

label:has(input[type="checkbox"]:checked) svg > polyline {
  fill: black;
}

.fav_input{
    height: 0;
    width: 0;
    position: absolute;
}



@media (max-width: 490px) {
    .img_wrap {
        min-width: 50%;
    }
}