.img-wrap {
    position: relative;
    transition-duration: 0.3s;
    display: inline-block;
}

.img-card {
    display: flex;
    align-items: center;
    flex-direction: column;
}

    /* filter: url('#noise'); */

.info-overlay {
    position: absolute;
    inset: 0;
    background: var(--info-card-bg);
    padding: 1rem;
}


.info-title {
    font-size:var(--title);
    color: rgb(251, 251, 251);
    font-weight: 900;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.info-wrap {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.info-wrap > p {
    font-style: italic;
}

figure > img {
    width: 100%;
}

figcaption {
    color: black;
    background-color: wheat;
}

figcaption:hover {
    background-color: white;
}

.img-menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items:stretch;
    justify-content: space-around;
}

.btn {
    cursor: pointer;
    padding: .2rem .5rem;
    background: white;
    border: 1px solid black;
    padding: .2rem .5rem;
    color: black;
}

input[type="checkbox"]{
    /* height: 0;
    width: 0; */
}

/* .large {
    position: absolute;
    inset: 0;
} */