.img-wrap {
    position: relative;
    transition-duration: 0.3s;
    display: inline-block;
}

.img-card {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgb(41, 2, 63);
    filter: url('#noise');
    display: flex;
    flex-direction: column;
}

figure > img {
    width: 100%;
}

.img-menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items:stretch;
    justify-content: space-around;
}

.btn {
    cursor: pointer;
    padding: .2rem .5rem;
    border: 1px solid;
    background: pink;
}

input[type="checkbox"]{
    /* height: 0;
    width: 0; */
}

/* .large {
    position: absolute;
    inset: 0;
} */