.canvas_wrap {
    display: flex;
    gap: 2rem;
    padding: 2rem;
}

.btn {
    padding: 0.2rem 0.5rem;
    cursor: pointer;
    border: 1px solid black;
    background: rgb(234, 234, 127);
}


@media (max-width: 498px){
    .canvas_wrap {
        flex-direction: column;
    }

    .cutout {
        overflow:hidden;
    }
}


