@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /**/
  --header: 2rem;
  --title: 1.5rem;
  --info-title: 1.2rem;
  --info-text: 1rem;

  /**/
  --padding-large: 2rem;
  --padding-medium: 1.5rem;
  --padding-small: 0.5rem;

  /**/
  --info-card-bg: linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgb(122, 110, 110));
  --linear-bg-1: linear-gradient(60deg, rgba(255, 255, 255, 0.7), rgb(255, 255, 255));
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:'Courier New', Courier, monospace;
  /**/
  overflow-x: hidden;
  overflow-y: auto;
}

.main {
  perspective: 10rem;
}

.edit-wrap {
  position: relative;
}


.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  opacity: 0;
  animation: fadeIn 0.3s ease forwards;
}

.modal-content {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  max-width: 90vw;
  max-height: 90vh;
  overflow: auto;
  position: relative;
  transform: translateX(100%);
  animation: slideIn 0.7s ease forwards;
}

.modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: #333;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  to {
    transform: translateX(0);
  }
}