@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /**/
  --header: 2rem;
  --title: 1.5rem;
  --info-title: 1.2rem;
  --info-text: 1rem;

  /**/
  --padding-large: 2rem;
  --padding-medium: 1.5rem;
  --padding-small: 0.5rem;

  /**/
  --info-card-bg: linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgb(122, 110, 110));
  --linear-bg-1: linear-gradient(60deg, rgba(255, 255, 255, 0.7), rgb(255, 255, 255));
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
