.main-container {
    height: 90vh;
    width: fit-content;
    position: relative;
    margin-top: 2rem;
    display: flex;
    padding-inline-start: 2em;
}

.img-container {
    position: relative;
    display: flex;
    gap: 2.5em;
    scroll-behavior: smooth;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%; 
    max-width: 100vw;
    align-items: flex-start;
    padding-inline-start: 4em;
}

/* .img-container >*:active {
    transform: scale(1.2);
    flex-grow: 12;
    border: 3px solid white;
} */





