.main-container {
    height: 90vh;
    width: fit-content;
    position: relative;
    margin-top: 2rem;
    display: flex;
    padding: 0 2em;
}

.img-container {
    position: relative;
    width: 100%; 
    max-width: 100vw;
}

@media (max-width: 498px){
    .main-container {
        padding: 0;
    }
}


